/* General style */
.task-details-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 8px;
    margin: 40px 120px 376px 120px;
}

.form-left {
    width: 715px;
}

/* information */
.task-info {
    display: flex;
    flex-direction: column;
    width: 715px;
    height: 239px;
}

.priority-container {
    display: flex;
    width: 212px;
    gap: 18px;
}

.priority {
    padding: 4px 5px;
    display: flex;
    border: solid 0.5px;
}

.priority-icon {
    width: 18px;
    height: 20px;
}

.department {
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}

/* details */
.task-details {
    width: 493px;
    height: 277px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 63px;
}

.status,
.employee,
.deadline {
    flex-direction: row;
    width: 493px;
    height: 70px;
    gap: 70px;
}

.icons {
    width: 24px;
    height: 24px;
}

.span-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* status */
.status {
    display: flex;
    align-items: center;
}

.status select {
    height: 45px;
    width: 250px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 75px;
}

/* employee */
.employee {
    display: flex;
    align-items: center;
}

.employee-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* deadline */
.deadline {
    display: flex;
    align-items: center;
}

/* comments section */
.task-comments {
    width: 650px;
    height: inherit;
    padding: 40px 45px;
    background-color: #f8f3fea6;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-comments form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.task-comments textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.task-comments ul {
    width: 600px;
    list-style: none;
    padding: 0;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-input-container {
    display: flex;
    width: 630px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}

.comment-input-container textarea {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    padding: 8px;
    font-size: 14px;
    font-family: inherit;
    overflow-wrap: break-word;
}

/* comments submit */
.comment-button {
    background-color: #8338ec;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 470px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3px;
}

.comment-button:hover {
    background-color: #b588f4;
}

.comments-length {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    border-radius: 30px;
    padding: 8px;
    font-size: 14px;
    background-color: #8338ec;
    margin-left: 8px;
    color: white;
}

.comment-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment-info img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.subcomment-info {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    max-width: 100%;
}

.comment-info p {
    margin: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.comment-info span {
    font-weight: bold;
    margin-bottom: 5px;
}

/* subcomments */
.subcomment-form {
    width: 580px;
}

/* open subcomments */
.subcomment-button {
    width: 67px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    gap: 6px;
    font-size: 12px;
    background-color: #f8f3fea6;
    border: none;
    color: #8338ec;
    cursor: pointer;
}

.subcomment-button:hover {
    color: #b588f4;
}

.subcomment-info-container {
    display: flex;
    width: 630px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}

.subcomment-info-container textarea {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    padding: 8px;
    font-size: 14px;
    font-family: inherit;
    overflow-wrap: break-word;
}

.submit-subcomment {
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #8338ec;
    align-self: end;
    margin-right: 10px;
    border-radius: 20px;
}

.submit-subcomment:hover {
    background-color: #b588f4;
}
