/* Task Board */
.task-board {
    width: 1680px;
    margin-left: 122px;
    display: flex;
    gap: 52px;
    padding-top: 80px;
}

/* Task Column */
.task-column {
    flex: 1;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.task-column h2 {
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.task-list {
    border-radius: 15px;
    margin-top: 30px;
}

/* Task Card */
.task-card {
    height: 175px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.task-name {
    font-size: 15px;
    font-weight: 600;
    color: #191919;
}

.task-description {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

/* Task Header */
.task-header {
    width: 341px;
    height: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* priority */
.tag.priority {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    width: 76px;
    height: 26px;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.875rem;
    color: white;
}

.tag.priority-low {
    border-color: #08a508;
    color: #08a508;
}

.tag.priority-medium {
    border-color: #ffbe0b;
    color: #ffbe0b;
}

.tag.priority-high {
    border-color: #fa4d4d;
    color: #fa4d4d;
}

/* department */
.tag.department {
    background-color: #3a86ff;
    width: 120px;
    height: 24px;
    font-size: 12px;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: space-around;
}

/* deadline */
.due-date {
    margin-left: 25px;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

/* Task Footer */
.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    color: black;
}
