/* Modal window */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    width: 800px;
    max-width: 90%;
    box-sizing: border-box;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 384px;
    box-sizing: border-box;
}

.upload-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #dee2e6;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.upload-photo-label {
    cursor: pointer;
    color: #8338ec;
    font-size: 16px;
}

.image-preview-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.delete-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-actions button {
    padding: 10px 20px;
    background-color: #8338ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions button[type="button"] {
    background-color: #ccc;
    color: black;
}
