.filters-container {
    width: 688px;
    border: solid #dee2e6 2px;
    border-radius: 8px;
    margin-left: 120px;
    color: white;
    position: relative;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filter-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: white;
    color: black;
    width: 200px;
    height: 44px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    align-items: center;
}

.filter-button img {
    transition: filter 0.3s ease;
}

.filterimage:hover {
    fill: #8338ec;
}

.filter-button:hover {
    color: #8338ec;
}

/* selected filters */
.selected-filters {
    margin-left: 122px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.selected-filter {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.remove-filter-button {
    background: none;
    border: none;
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

.clear-filters-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* dropdowns */
.dropdowns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.dropdown {
    background-color: white;
    border: solid #8338ec 0.5px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: black;
}

/* filter items */
.items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    gap: 22px;
}

.items-container input {
    margin-right: 10px;
}

.employee-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* confirm filters */
.confirm-button {
    height: 35px;
    width: 155px;
    background-color: #8338ec;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 25px;
    margin-left: 480px;
}

.confirm-button:hover {
    background-color: #b588f4;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "✔";
    font-size: 14px;
    color: #000;
}
